#features.content-container{"data-bind" => "show:currentTab() === '#features'"}
  .features-box 
    %p.feature-text Built-in support for configurable features like
    .feature-row
      .asterisk *
      .feature fluid width graphs
    .feature-row
      .asterisk *
      .feature click-through actions
    .feature-row
      .asterisk *
      .feature pop-overs
    .feature-row
      .asterisk *
      .feature roll-overs
    %p.feature-text D4 is meant to be a 'jumping off point' for working with D3.  After creating a configurable graph, you have access to all of the graph elements through D4, and you can modify them using D3.  
    %p.feature-text It is not recommended that you use D4 in production code until release 0.1.  Histograms, line charts, and candlestick graphs will be supported in the initial release.