#features.content-container{"data-bind" => "show:currentTab() === '#features'"}
  .features-box 
    %p.feature-text Built-in support for configurable features like
    .feature-row
      .asterisk *
      .feature fluid width graphs
    .feature-row
      .asterisk *
      .feature click-through actions
    .feature-row
      .asterisk *
      .feature pop-overs
  .feature-row
      .asterisk *
      .feature roll-overs
    %p.feature-text Please note that this project is being transitioned from a previous code-base called D4 that was dependant upon D3, to a leaner code-base that is built upon jquery.svg.  The goal is to have this library be as lightweight as possible to accomplish the goal of having very customizable declarative graphs.
    %p.feature-text It is not recommended that you use Dropcharts in production code until release 0.1.  Histograms, line charts, and candlestick graphs will be supported in the initial release.