#notes.content-container{"data-bind" => "show:currentTab() === '#notes'"}
  .highlight-box.full
    %p This library is new and should not be used in development until a build version of the javascript is relased, which will be version 0.1.  If you want to use it in the meantime, just know that the API will be undergoing radical changes until that time!
    %p Once the API is in a stable state, attention will be paid toward performance, file size, and stability.