!!!
%head
  %title Dropchart - Easy Drop-in Charts
  =stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oleo+Script|Days+One"  
  =stylesheet_link_tag "/stylesheets/bootstrap.min.css"
  =stylesheet_link_tag "/stylesheets/twilight.css"
  =stylesheet_link_tag "/stylesheets/colorpicker.css"
  =stylesheet_link_tag "/stylesheets/d4.css"
  =stylesheet_link_tag "/stylesheets/main.css"

%html
  %body
    =link_to(image_tag("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", {width: "110", height: "110", style: "position: fixeD; top: 0; right: 0; border: 0; z-index:1009", alt: "Fork Me on Github"}), "https://github.com/superplussed/dropchart")
    #container
      #fixed
        #header
          #title-container
            %h1 Dropchart.js
          #description-container
            .description
              %span Easy drop-in charts
        #histogram
        #tabs-container
          %ul#tabs{class: 'nav nav-tabs'}
            %li.active
              %a{href: "#features", "data-toggle" => "tab"} Features
            %li
              %a{href: "#test-drive", "data-toggle" => "tab"} Configure
            %li
              %a{href: "#data", "data-toggle" => "tab"} Edit Data
            %li
              %a{href: "#tests", "data-toggle" => "tab"} Run Tests
            %li
              %a{href: "#api", "data-toggle" => "tab"} API
      =yield
      
    %footer
      %span ~ Authored by Jeremy Smith ~
      %span=link_to("Email", "mailto:jeremy@superplussed.com")
      %span ~
      %span=link_to("Github", "https://github.com/superplussed")
      %span ~

    %script{type: "text/javascript", "data-main" => "javascripts/main", src: "javascripts/vendor/require.js"}
